<div class="aula-sidebar">
    <a href="aulas.html" class="active">Introdução</a>

    
    <a href="#" class="submenu-toggle">Como programar?</a>

    <!-- HTML Submenu -->
    <div class="submenu">
        <a href="aula1.html">Instalações</a>
        <a href="aula2.html">Primeiro programa</a>
    </div>

    <a href="#" class="submenu-toggle">Fundamentos da Programação em C++</a>

    <div class="submenu">
        <a href="aula3.html">Sintaxe Básica</a>
        <a href="#">Tipos de dados</a>
        <a href="#">Variáveis e Constantes</a>
        <a href="#">Operadores</a>
    </div>
    <a href="#">AAaaaa</a>
    <a href="#">JavaScript</a>
    <a href="#">Python</a>
    <a href="#">SQL</a>
</div>